@font-face {
  font-family: 'Press Start 2P';
  src: url('PressStart2P-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #000000;

}

body {
  font-family: 'Press Start 2P', sans-serif;
  background-size: 100% 100%;
  color: #0077ff;
  font-size: 14px;
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #003cff, 0 0 20px #0066ff, 0 0 30px #0064e6, 0 0 40px #008ae6, 0 0 50px #008ae6, 0 0 60px #008ae6, 0 0 70px #008ae6;
}

h2 {
  color: var(--text-color);
  text-shadow: 0 0 10px #ff00f2, 0 0 20px #ff00f2, 0 0 30px #e600db, 0 0 40px #c000e6, 0 0 50px #d300e6, 0 0 60px #b800e6, 0 0 70px #b800e6;

}

h3 {
  margin-bottom: 10px;
  color: #000000;
  text-shadow: 0 0 10px #003cff, 0 0 20px #0066ff, 0 0 30px #0064e6, 0 0 40px #008ae6, 0 0 50px #008ae6, 0 0 60px #008ae6, 0 0 70px #008ae6;

}

h4 {
  margin-left: 75px;
  margin-top: 20px;
  color: #000000;
  text-shadow: 0 0 10px #003cff, 0 0 20px #0066ff, 0 0 30px #0064e6, 0 0 40px #008ae6, 0 0 50px #008ae6, 0 0 60px #008ae6, 0 0 70px #008ae6;

}

ul {
  list-style-type: none;
  text-shadow: 0 0 10px #003cff, 0 0 20px #0066ff, 0 0 30px #0064e6, 0 0 40px #008ae6, 0 0 50px #008ae6, 0 0 60px #008ae6, 0 0 70px #008ae6;

}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  margin: 20px 0;
}

nav {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wb-body {
  background: #000000;
  padding: 20px;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

a {
  color: #0077ff;
  text-decoration: underline;

}

a:hover {
  color: #d400ff;
  text-shadow: 0 0 10px #003cff, 0 0 20px #0066ff, 0 0 30px #0064e6, 0 0 40px #008ae6, 0 0 50px #008ae6, 0 0 60px #008ae6, 0 0 70px #008ae6;

}

img {
  height: 50%;
  width: 50%;

}

#black {
  background-color: #000000;
}